*{
  margin: 0px;
 padding: 0px;
}


/* ///////////////////////////////////////  HEADER    //////////////////////////// */

.paiHeader{
  width: 100%;
  height: 200px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.imageLogo{
  align-self: flex-start;
  z-index: 1;
  width: 200px;
  height: 100px;;
  margin-top: 25px;
}

.imageLogo img{
  width: 150px;
  height: 80px;
}

@media screen and (max-width: 480px) {
  .imageLogo {
    width: 100px;
    height: 50px;
  }
  .imageLogo img {
    width: 100px;
    height: 50px;
  }
}

.tituloBusca{
  z-index: 9999;
  margin-top: -100px;
}

.tituloBusca h1{
  color: darkgreen;
  text-align: center;
  font-size: 60px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.campoBusca{
  display: flex;
  margin: 5px;
}

.campoBusca button{
  border: 1.5px solid gray;
  border-left: none;
  border-radius: 0px 10px 10px 0px;
  background-color: white;
  margin-top: 20px;
  width: 50px;
  height: 52px;
}

.campoBusca input{
  
  padding-left: 25px;
  width: 100%;
  height: 50px;
  border: 1.5px solid gray;
  border-right: none;
  border-radius: 10px 0px 0px 10px;
  margin-top: 20px;
}

.campoBusca i{
  color: #12561A;
}

.campoBusca ::placeholder{
  color: gray;
  font-weight: 700;
}


/* ///////////////////////////////////////   MAIN     //////////////////////////// */


.paiMain{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: 100px;
  justify-content: space-around
}

.personagem-item {
  margin: 25px;
  display: flex;
  flex-direction: row;
  width: 800px;
  height: 100%;
  padding: 10px;
  margin-bottom: 10px;
}

.personagem-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.personagem-foto {
  width: 200px;
  height: 200px;
  margin-right: 10px;

}

.personagem-nome {
  margin-bottom: 10px;
  font-size: 30px;
  color: #12561A;
  font-weight: 900;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.personagem-status , .personagem-ultimaLocalizacao, .personagem-ultimoEpisodio {
  margin-bottom: 5px;
  font-size: 15px;
  color: #000000;
  font-weight: 900;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.descricaoLocalizacao , .descricaoEpfinal{
    margin-top: 15px;
    margin-bottom: 5px;
    font-size: 12px;
    color: gray;
    font-weight: 600;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.imagenMain , main {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.imagenMain img{
  width: 500px;
  height: 500px;
}

.botaoProximo {
  margin: 25px;
  font-size: 20px;
  font-family: monospace;
  background-color: #f3f7fe;
  color: #12561A;
  border: none;
  border-radius: 8px;
  width: 100px;
  height: 45px;
  transition: .3s;
}

.botaoProximo:hover {
  background-color: #01cc18;
  box-shadow: 0 0 0 5px #003606;
  color: #fff;
}

/* ///////////////////////////////////////   FOTTER     //////////////////////////// */

.paiFotter{
  display: flex;
  margin-top: 20px;
  width: 100%;
  height: 200px;
  background-color: #12561A;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.infoGerais{
  display: flex;
  justify-content: space-evenly;
}

#localizacao{
 margin-left: 30px;
 margin-right: 30px;
 font-size: 25px;
 font-weight: 700;
 color: #d9d9d9;
}

#quantidadePersonagens{
  font-size: 25px;
  font-weight: 700;
  color: #d9d9d9;
}

#episodio{
  font-size: 25px;
  font-weight: 700;
  color: #d9d9d9;
}

.autorais p{
  display: flex;
  margin-top: 50px;
  font-size: 20px;
  font-weight: 500;
  color: #d9d9d9
}

.autorais a{
  margin-left: 5px;
  margin-right: 5px;
  text-decoration: none;
  color: white;
  font-weight: 900;
  font-size: 20px;
}